@model PMS.ViewModels.ReservationsViewModels

@if (Model != null && Model.Reservations != null && Model.Reservations.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservations in Model.Reservations)
            {
            <tr>
                <td>
                    @reservations.Name
                </td>
                <td>
                    @reservations.FromDate
                </td>
                <td>
                    @reservations.ToDate
                </td>
                <td>
                    <button data-href="@Url.Action("Action", "Reservations", new { ID = reservations.ID })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-edit mr-1"></i>Edit</button>
                    <button data-href="@Url.Action("Delete", "Reservations", new { ID = reservations.ID })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="far fa-trash-alt mr-1"></i>Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{

    <div class="alert alert-warning" role="alert">
        Sorry! No Records found.
    </div>
}